*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header{
background-image: url(../21.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
    float: right;
	list-style-type: none;
   margin-top: 25px;
   padding-right: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #ffffff;
	padding:5px 20px;
	transition: 0.6s ease;
	border: 1px solid #ffffff;

}

ul li a:hover{
	background: #000000;
	color: #fff;
}

ul li.active a{
	background: #000000;
	color: #fff;
}

.title{
	position: absolute;
	top: 70%;
	left: 30%;
	transform: translate(-50%,-50%);
}

.title h1{
	font-size: 60px;
     color: #000000;

}
.button{
	position: absolute;
	top: 83%;
	left: 30%;
	transform: translate(-50%,-50%);
}

.btn{
	text-decoration: none;
	border: 1px solid #000000;
	padding: 10px 30px;
	color:#000000;
	transition: 0.6s ease;
}
.btn:hover{
     background: #000000;
	 color: #fff
}
.title1{
	position: absolute;
	top: 77%;
	left: 30%;
	transform: translate(-50%,-50%);
}
.title1 h1{
	text-decoration: underline;
	font-size: 30px;
     color: #000000

}
	